body {background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
}
h1 {
    font-family: 'Birthstone Bounce';font-size: 75px;
}
body {font-family: 'Bodoni Moda';font-size: 22px; text-align: center;
}